@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter:Medium";
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Inter:Regular";
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Inter:Semi Bold";
  src: url("https://static.figma.com/font/Inter_1") format("woff2");
  font-style: normal;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #f8f9fb;
  font-family: "Inter:Regular", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 400;
  color: #17233b;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

button,
select {
  font: inherit;
}

button {
  cursor: pointer;
}